@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login */
.login-clipping{
    @apply .relative;
    height: 900px;
    overflow: hidden;
}

.login-clipping .clipper{
    @apply .absolute .top-0 .left-0;
    clip-path: polygon(0 0, 55% 0, 100% 100%, 0% 100%);
    background: #E0472D;
    height: 900px;
    width: 697px;
}

.login-clipping .container{
    @apply .relative; 
    z-index: 3;
}